# R

.Rhistory
.RData
.Rproj.user/

# Folders to exclude (for now)

data/
scripts/
gis_2025/
brian_sandbox/
pedagogical_additions/
_reorg_to_delete

# macOS

.DS_Store

# Other stuff:

*.html

/.quarto/
